*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-image: url("./img/photo_2022-09-24_22-48-43 (2).jpg") no-repeat;
}

.main img{
    width: 3rem;
}